---
import '@fontsource/lato';
import '@fontsource/lato/900.css';

interface Props {
  metaTitle?: string;
}
const { metaTitle = 'Superheroes in tha house' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="src/images/favicon.ico" type="image/x-icon" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{metaTitle} | Superheroes Competetition</title>
  </head>
  <body>
    <div class="main-layout-container">
      <slot />
    </div>
  </body>
</html>

<style>
  :root {
    font-family: 'Lato';
  }

  html,
  body,
  .main-layout-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: white;
  }

  html {
    overflow: auto;
    height: 100%;
  }
</style>
